@using Chat.Web.Models
@model IndexPageModel
@{
    ViewBag.Title = "Chart Home Page";
}


@Html.BeginForm("SendMessage", "Message", FormMethod.Post, new { @class="mainform"}){ 
    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(m => m.NewMessageText, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.NewMessageText, new {@class = "form-control"})
            </div>
            <input type="submit" value="Send" class="btn-default"/>
        </div>
    </div>
    @foreach (MessageModel message in Model.Messages)
    {
        <div class="row">
            <div class="col-md-4">
                @*@Html.LabelFor*@
            </div>
            <div class="col-md-4">

            </div>

        </div>
    }
}